pkgbase = chromium-extension-privacybadger
	pkgdesc = Block third party tracking in your browser
	pkgver = 2024.5.17
	pkgrel = 1
	url = https://privacybadger.org/
	arch = any
	license = GPL3
	makedepends = jq
	makedepends = openssl
	depends = chromium
	source = chromium-extension-privacybadger-2024.5.17.tar.gz::https://github.com/EFForg/privacybadger/archive/refs/tags/release-2024.5.17.tar.gz
	source = privacybadger.pem
	sha256sums = 7fcef1ba5e274395d0418748915fed5ffc257d11218c1fc960c8d5081915400a
	sha256sums = 0f6e6fa1bb901480be99d24d26104f4ff67b41b9d748595f01f1779b7fc2a642

pkgname = chromium-extension-privacybadger
